# Dependencies
node_modules
.pnp
.pnp.js
.yarn/install-state.gz

# Build outputs
.next/
out/
build
dist
.turbo

# Environment and config
.env*
*.log

# Package managers
package-lock.json
yarn.lock
pnpm-lock.yaml

# Misc
.DS_Store
*.pem

# Git
.git

# Local env files
.env*.local
.env

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts
